/* 搜索框 */
.lt_search{
  padding: 10px;
  position: relative;
}
.lt_search input{
  margin: 0;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #007AFF;
  font-size: 12px;
}
.lt_search .mui-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 1
}

/* 搜索历史 */
.lt_history{
  padding: 10px;
  font-size: 12px;
  color: #666;
}
.lt_history .lt_title{
  height: 30px;
  line-height: 30px;
}
.lt_history .lt_content ul{
  border: 1px dashed red; 
}
.lt_history .lt_content li{
  height: 30px;
  line-height: 30px; 
  border-bottom: 1px dashed red; 
}
.lt_history .lt_content li i{
  line-height: 30px;
}
.lt_history .lt_content li a{
  display: block;
  padding: 0 10px
}
.lt_history .lt_content li:last-child{
  border: none;
}

